@if (TempData["Success"] is string success) { <div class="flash-message flash-success">@success</div> }
@if (TempData["Error"] is string error) { <div class="flash-message flash-error">@error</div> }
